_*
!__*
*.pyc
*.vim
*.o
.cache

# Setuptools
*.egg
.eggs/
build/
dist/
*.egg-info/

# LibreSSL binaries
pylibressl/libressl/

# Sphinx docs
docs/*
!docs/conf.py
!docs/index.rst
!docs/install.rst
!docs/usage.rst
!docs/Makefile
!docs/requirements.txt
