_*
!__*
*.pyc
*.vim
*.o
.cache

# Setuptools
*.egg
.eggs/
build/
dist/
*.egg-info/

# LibreSSL binaries
pylibressl/libressl/

# Sphinx docs
docs/*
!docs/conf.py
!docs/*.rst
!docs/Makefile
!docs/requirements.txt
